.FABulous/*.txt
.FABulous/*.bin
.FABulous/*.csv
.FABulous/*.pcf
*.v
*ConfigMem.csv
*switch_matrix.csv
!fabulous_tb.v
!*frame_config*.v
!MULADD.v
!bitbang.v
!BlockRAM_1KB.v
!Frame_Data_Reg.v
!Frame_Select.v
!models_pack.v
!eFPGA_Config.v
!config_UART.v
!ConfigFSM.v
!Config_access.v
!RegFile_32x4.v
!User_project_IO.v
